

.logo {
        background: url(images/Logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 60px;
        width: 100%;
        align-items: center;
        justify-content: center;

        hr {
            border: 2px solid #CA9277;
        }
    }


    .container {
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        
        display: flex;
        height: 400px;
        width: 100%;
        margin: 40px auto;

        .text {
            
            width: 45%;
            height: 400px;
            margin: 30px auto;

            h1 {
                font-family: "DM Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: bold;
                font-style: normal;
                font-size: 56px;

            }

            p {
                font-family: "DM Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
            }

            button {
                border: none;
                background-color: #303030;
                height: 57px;
                width: 208px;
                color: #FFF4EB;
                border-radius: 12px;

            }

        }

        .img {
            
            width: 50%;
            height: 400px;

        }




    }

    .img1 {
        
        width: 50%;
        height: 400px;
        background-image: url(images/Yogatime.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    .img2 {
        
        width: 50%;
        height: 400px;
        background-image: url(images/healthy.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    .img3 {
        
        width: 50%;
        height: 400px;
        background-image: url(images/Start.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }




    .cardcontainer {
        background-color: #303030;
        margin: 20px auto;
        
        display: grid;
        height: 400px;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        div {
            height: 300px;
            justify-content: center;
            align-items: center;
            width: 80%;
            
            border-radius: 12px;
            display: flex;
            flex-direction: column;

            h3 {
                color: #FFF4EB;
                font-family: "DM Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: normal;
                font-style: normal;
                font-size: 18px;
            }

            p {
                color: #CA9277;
                font-family: "DM Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
            }

            .morning {
                background-image: url(images/morning-yoga.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                align-items: center;
                justify-content: center;
            }

            .yoga {
                background-image: url(images/yoga-hjouse.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                align-items: center;
                justify-content: center;
            }

            .balance {
                background-image: url(images/yoga-balance.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                align-items: center;
                justify-content: center;
            }
        }

    }


    .sanda {
        background-color: #303030;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        height: 300px;
        width: 100%;

        h1 {
            color: #FFF4EB;
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            font-size: 56px;
        }

        button {
            width: 336px;
            height: 67px;
            background-color: #CA9277;
            color: #FFF4EB;
            border-radius: 12px;
            border: none;


        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        height: 400px;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            color: #303030;
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            font-size: 56px;
        }

        button {
            width: 336px;
            height: 67px;
            background-color: #303030;
            color: #FFF4EB;
            border-radius: 12px;
            border: none;

        }
    }

    .end {
        
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 100%;
    }

    .vid {
        
        border-radius: 12px;
        margin: 50px auto;
        height: 400px;
        width: 664px;
        align-items: center;
        justify-content: center;
        background: url(images/miniature.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .footer {
        margin: 30px auto;
        height: 300px;
        width: 100%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            
            width: 23%;
            height: 250px;
            gap: 15px;
        }

        h4 {
            color: #303030;
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            font-size: 18px;

        }

        a {
            text-decoration: none;
            color: #303030;
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
        }
    }

    .petitlogo {
        display: flex;
        flex-direction: column;

        .aa {
            
            width: 100%;
            height: 350px;
            background-image: url(images/Logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

        }

        .bb {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            width: 100%;
            height: 200px;

            .cc {
                align-items: center;
                justify-content: space-around;
                color: #303030;
                font-size: 27px;
                width: 20px;
                height: 20px;
                gap: 20px;
            }

        }


    }

    .last {
        height: 80px;
        background-color: #303030;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: #FFF4EB;
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
        }
    }